{% extends 'Masters/master.html' %}
{% load static from staticfiles %}

{% block title %}:: Docs {% if title %}:: {{ title }}{% elif author %}{{ author }}{% endif %}{% endblock %}
{% block active-docs %}active{% endblock %}

{% block docs %}
{% if page == 'doc-author' %}
{% include "Snippets/snip_docauthor.html" %}
{% elif page == 'doc-single' %}
{% include 'Snippets/snip_docsingle.html' %}
{% else %}
{% include 'Snippets/snip_docs.html' %}
{% endif %}
{% endblock %}


{% block js %}
{% include 'Snippets/snip_highlightjs.html' %}
{% endblock %}