{% extends 'Masters/master.html' %}
{% load static from staticfiles %}

{% block title %}:: Portfolio {% if page == 'portfolio-single' %}:: {{ title }}{% endif %}{% endblock %}
{% block active-portfolio %}active{% endblock %}

{% comment %}
This portion loads when viewing a single portfolio project
{% endcomment %}

{% block hero %}
{% if page == 'portfolio-single' %}
<!-- port-single -->
<div class="portfolio-cover p-top-200" style="background-image: url('{{ artwork }}');"></div>
{% endif %}
{% endblock %}


{% block gallery %}
{% comment %}
This first block is loaded if we are on the main portfolio page.
The else portion loads when a single portfolio project is loaded.
{% endcomment %}
{% if page == 'portfolio-home' %}
<div class="p-top-100"></div>
{% include "Snippets/snip_gallery.html" %}

{% else %}
{% include 'Snippets/snip_projectdetails.html' %}

{% if photos %}
{% include 'Snippets/snip_projectimages.html' %}
{% endif %}

{% if colors %}
{% include 'Snippets/snip_projectcolors.html' %}
{% endif %}

{% if audios %}
{% include 'Snippets/snip_projectaudio.html' %}
{% endif %}

{% endif %}
{% endblock %}




{% block js %}
<script src="{% static 'js/galeria.min.js' %}"></script>
{% include 'Snippets/snip_highlightjs.html' %}

{% if type == 'Album' %}
<script src="{% static 'js/playMe.js' %}"></script>
{% endif %}

{% endblock %}