{% extends 'Masters/master.html' %}
{% load static from staticfiles %}

{% block title %}:: Portfolio :: {{ title }}{% endblock %}
{% block active-portfolio %}active{% endblock %}



{% block hero %}
<!-- hero -->
<div class="">
    <div class="portfolio-cover p-top-200" style="background-image: url('{{ artwork }}');"></div>
</div>
<!-- end hero -->
{% endblock %}

{% block gallery %}
{% include 'Snippets/snip_projectdetails.html' %}

{% if photos %}
{% include 'Snippets/snip_projectimages.html' %}
{% endif %}

{% if colors %}
{% include 'Snippets/snip_projectcolors.html' %}
{% endif %}

{% if audios %}
{% include 'Snippets/snip_projectmusic.html' %}
{% endif %}
{% endblock %}



{% block js %}
{% include 'Snippets/snip_highlightjs.html' %}
{% if type == 'Album' %}
<script src="{% static 'js/playMe.js' %}"></script>
{% endif %}
{% endblock %}