{% extends 'Masters/master.html' %}



{% block error %}
<div class="crimson">
      <div class="container top-100 bottom-200">

        <div class="top-60 bottom-40 heading animated fadeInUp">
          <p><span>Recurso Ausente</span></p>
          <h1>404</h1>

          <h3>A página ou recurso que solicitou não está disponível. <br>
              Por favor, verifique o URL que utilizou para chegar até aqui. <br>
              Se acredita estar aqui por engano, contacte-nos.</h3>
        </div>


      {% if docs %}
          <hr>
          <p class="heading top-10 bottom-100">
            <span>Docs Recentes</span>
          </p>

        <div class="row">
          {% for i in docs %}
              {% if forloop.counter <= 3 %}
              <div class="col-md-4 animated fadeInUp">
                  <a href="{% url 'doc' i.slug %}" class=""><h4>{{ i.title }}</h4></a>
                  {% if i.summary %}
                    <p>{{ i.summary }} <a href="{% url 'doc' i.slug %}" class="text-underlined">Ler mais.</a></p>
                  {% else %}
                    <p>{{ i.content | slice:'100' }}... <a href="{% url 'doc' i.slug %}" class="text-underlined">Ler mais.</a></p>
                  {% endif %}
              </div>
              {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      </div>
</div>

{% endblock %}
