{% extends 'master.html' %}
{% load static from staticfiles %}




{% block error %}
<div class="blue">
      <div class="container p-top-200 p-bottom-100">
        <div class="p-top-60 p-bottom-100 heading animated fadeInUp">
          <p><span>Desconectado</span></p>
          <h1>Sessão Terminada</h1>
          <h3 class="p-top-40 p-bottom-20">A sua sessão foi terminada com sucesso. <br>
              Pode continuar a navegar o site como de costume.<br>
              Se preferir, pode voltar à <a href="/" class="underlined">página inicial</a>.
          </h3>
        </div>
      </div>
</div>
{% endblock %}