{% extends 'labs/labs.html' %}
{% load static from staticfiles %}
{% block title %}:: Horas{% endblock %}


{% block extras %}
<!-- Clock -->
<div class="">
      <div class="container p-top-200 p-bottom-300">
        <div class="p-top-100 p-bottom-60 heading text-center animated fadeInUp">
          <h1 id="greeting" class="clockGreeting"></h1>
          <h4 id="clock" class="clock"></h4>
        </div>
      </div>
</div>
<!-- end Clock -->
{% endblock %}

{% block js %}
<script src="{% static 'js/clock.js' %}"></script>
{% endblock %}