{% extends 'Masters/master.html' %}
{% load static from staticfiles %}
{% block title %}:: Horas{% endblock %}


{% block extras %}
<!-- Clock -->
<div class="">
      <div class="container p-top-100 p-bottom-100">
        <div class="p-top-100 p-bottom-60 heading animated fadeInUp">
          <h3 id="greeting" class="clockGreeting"></h3>
          <h1 id="clock" class="clock"></h1>
        </div>
      </div>
</div>
<!-- end Clock -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/clock.js' %}"></script>
{% endblock %}