{% extends 'labs/lab.html' %}
{% load static from staticfiles %}

{% block extras %}
<div class="top-200 bottom-200">
<div class="container top-100 bottom-40 heading">
    <h3>Em directo</h3>
    <h1 id="artistHeader" class="mainTitle">Rádio Luzeiros</h1>
    <button type="button" class="btn btn-success" id="radioButton" onclick="PlayRadio()">
    Ouvir em directo
    <audio src="http://s11.myradiostream.com:14574/;stream" id="radioAudio"></audio>
    </button>
</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/radio.js' %}"></script>
{% endblock %}