{% extends 'masters/master.html' %}
{% load static from staticfiles %}

{% block title %}:: Docs {% if title %}:: {{ title }}{% elif author %}{{ author }}{% endif %}{% endblock %}
{% block active-docs %}active{% endblock %}

{% block docs %}
{% if pageName == 'DocAuthorViewController' %}
    {% include "snippets/_doc-author.html" %}
{% elif pageName == 'DocSingleViewController' %}
    {% include 'snippets/_doc-single.html' %}
{% elif pageName == 'DocCreateViewController' %}
    {% include 'snippets/_doc-create.html' %}
{% elif pageName == 'DocEditViewController' %}
    {% include 'snippets/_doc-editable.html' %}
{% else %}
    {% include 'snippets/_docs.html' %}
{% endif %}
{% endblock %}


{% block js %}
{% include 'snippets/_highlightjs.html' %}
{% endblock %}