{% extends 'masters/master.html' %}
{% load static from staticfiles %}

{% block extras %}
<div class="container top-100">

    <div class="row">
    <div id="news" class="col-md-9">
    <div class="blog-content">
        {% for article in articles %}
            <!-- article #{{ forloop.counter }}-->
            <div id="article-{{ forloop.counter }}" class="bottom-20">
                <p><span>{{ article.source.id }}</span></p>
                <a href="{{ article.url }}" target="_blank">
                    <h1 class="bottom-10">{{ article.title }}</h1>
                </a>{% if article.urlToImage %}
                <img class="img-fluid" src="{{ article.urlToImage }}">{% endif %}
                <div class="top-10 bottom-10">{{ article.description }}</div>
            </div>
            <!-- end of article #{{ forloop.counter }}-->
        {% endfor %}
    </div>
    </div>
    </div>

</div>
{% endblock %}