{% extends 'masters/master.html' %}
{% load static from staticfiles %}

{% block title %}:: Portfolio {% if page == 'portfolio-single' %}:: {{ project.title }}{% endif %}{% endblock %}
{% block active-portfolio %}active{% endblock %}

{% comment %}
This portion loads when viewing a single portfolio project
{% endcomment %}

{% block hero %}
{% if page == 'PortfolioSingleViewController' %}
<!-- port-single -->
<div class="portfolio-cover top-200" style="background-image: url('{{ project.artwork.url }}');"></div>
{% endif %}
{% endblock %}


{% block gallery %}

{% comment %}
This first block is loaded if we are on the main portfolio page.
The else portion loads when a single portfolio project is loaded.
{% endcomment %}
{% if page == 'PortfolioViewController' %}
    {% include "snippets/_header-portfolio.html" %}
    {% include "snippets/_gallery.html" %}

{% else %}

    {% include 'snippets/_project-details.html' %}

    {% if photos %}
    {% include 'snippets/_project-images.html' %}
    {% endif %}

    {% if colors %}
    {% include 'snippets/_project-colors.html' %}
    {% endif %}

    {% if audios %}
    {% include 'snippets/_project-audio.html' %}
    {% endif %}

{% endif %}
{% endblock %}




{% block js %}
<script src="{% static 'js/galeria.min.js' %}"></script>
{% include 'snippets/_highlightjs.html' %}

{% if type == 'Album' %}
<script src="{% static 'js/playAudio.js' %}"></script>
{% endif %}

{% endblock %}