{% load static from staticfiles %}
<!-- single doc -->
<div class="container top-100 bottom-60 blog-section">


{% include 'snippets/_doc-info.html' %}

<!-- single doc -->
<div class="row blog-content">
  <div class="col-md-9 col-sm-12 col-xs-12">
    {% if language == "Aulas" %}
    <div id="aula">{{ doc.content }}</div>
    {% else %}
    <div class="markdown">{{ doc.content }}</div>
    {% endif %}
  </div>
<!--end single doc -->

{% include 'snippets/_doc-related.html' %}

</div>
</div>

{% if doc.author.author_bio %}
{% include 'snippets/_doc-editorial.html' %}
{% endif %}