{% load static from staticfiles %}
<!-- Gallery -->
<div class="gallery bg-white top-60 bottom-60" id="">
<div class="container">
    <div class="heading top-60">
        <p><span>Anda ver a oficina</span></p>
        <h1>Projectos</h1>
    </div>

    {% if pageName == 'PortfolioViewController' %}
    <div id="buttons" class="top-10 bottom-40"></div>
    {% endif %}

    <div class="row {% if pageName != 'PortfolioViewController' %}p-top-20{% endif %} bottom-10" id="gallery">
        {% for project in projects %}
        {% if forloop.counter <= projectMax %}
        {% include 'snippets/_project-preview.html' %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
<!-- end Gallery -->