{% load static from staticfiles %}
<!-- Hero -->
<div class="jumbotron top-300 bottom-200 border-radius-0 parallax" style="background-image: url({% static 'img/EKIllustration2.svg' %});">
    <div class="container text-white">
  <h1 class="display-3">Ekletik Studios</h1>
  <p class="lead promo-sub bottom-10">Nos especializamos na criação de algorítmos e sistemas, ao passo que também
      o ensinamos a pensar e a escrever como um programador.
  </p>
  <p class="lead">
    <a class="btn btn-outline-light" href="{% url 'company' %}" role="button">Conheça-nos melhor</a>
  </p>
    </div>
</div>
<!-- end Hero -->