{% extends 'masters/master.html' %}

{% block error %}
<div class="raisin-black">
<div class="container top-100 bottom-200">
<div class="top-60 bottom-40 heading animated fadeInUp">

{% if pageName == '403' %}
  <p><span>Acesso Negado</span></p>
  <h1>403</h1>
  <h3>O recurso que solicitou não está disponível para a sua visualização.<br>
  </h3>

{% elif pageName == '401' %}
  <p><span>Acesso Negado</span></p>
  <h1>401</h1>
  <h3>O recurso que solicitou não está disponível para a sua visualização. <br>
      Para ter acesso ao recurso que solicitou será preciso autenticar a sua conexão.
  </h3>

{% elif pageName == '405' %}
    <p><span>Método Não Suportado</span></p>
    <h1>405</h1>
    <h3>O método que utlizou para chegar até esta página <br>
        não é suportado pelo nosso site. A operação foi abortada.
    </h3>

{% elif pageName == '500' %}
    <p><span>Erro de Servidor</span></p>
    <h1>500</h1>
    <h3>Oops, o servidor encontrou um erro.<br>
    Não é posível continuar a operação neste momento.
    </h3>

{% elif pageName == '404' %}
    <p><span>Recurso Ausente</span></p>
    <h1>404</h1>
    <h3>A página ou recurso que solicitou não está disponível. <br>
    Por favor, verifique o URL que utilizou para chegar até aqui. <br>
    Se acredita estar aqui por engano, contacte-nos.</h3>
{% endif %}

</div>

{% if docs %}
<hr>
<p class="heading top-10 bottom-100">
<span>Docs Recentes</span>
</p>
<div class="row">
{% for i in docs %}
{% if forloop.counter <= 3 %}
<div class="col-md-4 animated fadeInUp">
  <a href="{% url 'doc' i.slug %}" class=""><h4>{{ i.title }}</h4></a>
  {% if i.summary %}
      <p>{{ i.summary }} </p>
      <p><a href="{% url 'doc' i.slug %}" class="text-underlined">Ler mais.</a></p>
  {% else %}
    <p>{{ i.content | slice:'100' }}...</p><br>
    <p><a href="{% url 'doc' i.slug %}" class="text-underlined">Ler mais.</a></p>
  {% endif %}
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}


</div>
</div>
{% endblock %}