{% load static from staticfiles %}
<!-- Experimentos -->
<div class="container p-top-100 p-bottom-60 heading">
<div class="row">

    <div class="p-top-10 p-bottom-10 col-lg-4 col-md-4 col-sm-12">
        <a href="{% url 'relogio' %}">
        <div class="text-black yellow">
          <div class="card-header">
            <h2 class="small-title">¿Qué Hora?</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Um relógio simples e fácil de programar escrito em javascript com o uso de jQuery.</p>
          <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar"
               style="width: 100%; height: 10px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          </div>
        </div>
        </a>
    </div>

    <div class="p-top-10 p-bottom-10 col-lg-4 col-md-4 col-sm-12">
        <a href="{% url 'sonzito' %}">
        <div class="text-black blue">
          <div class="card-header">
            <h2 class="small-title">Sonzito</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Um lugar para descobrir e ouvir músicas marcantes
                curadas por nós, especialmente para si.</p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar"
                   style="width: 49%; height: 10px;" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        </a>
    </div>

    <div class="p-top-10 p-bottom-10 col-lg-4 col-md-4 col-sm-12">
        <a href="{% url 'morcovi' %}">
        <div class="text-black orange">
          <div class="card-header">
            <h2 class="small-title">Morcovi</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Um lugar para descobrir e ouvir músicas marcantes
                curadas por nós, especialmente para si.</p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar"
                   style="width: 9%; height: 10px;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        </a>
    </div>


    <!-- Second Row -->
    <div class="p-top-40 p-bottom-40"></div>

    <div class="p-top-10 p-bottom-10 col-lg-4 col-md-4 col-sm-12">
        <a href="{% url 'radio' %}">
        <div class="text-black pink">
          <div class="card-header">
            <h2 class="small-title">RadioPlayer</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Um reprodutor de áudio para a nossa estação parceira, Rádio Luzeiros.</p>
          <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar"
               style="width: 0%; height: 10px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          </div>
        </div>
        </a>
    </div>

    <div class="p-top-10 p-bottom-10 col-lg-4 col-md-4 col-sm-12">
        <a href="{% url 'news' %}">
        <div class="text-black crimson">
          <div class="card-header">
            <h2 class="small-title">NewsAPI</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Implementação do NewsAPI para mostrar notícias actualizadas.</p>
          <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar"
               style="width: 98%; height: 10px;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          </div>
        </div>
        </a>
    </div>

    <!-- Third Row -->

</div>
</div>

