{% load static from staticfiles %}
<!-- music -->
<div id="" class="p-top-40 p-bottom-200">
<div class="container">
<div class="row" id="album">
<div class="col-md-12">
<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Título</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tableBody">
        {% for faixa in audios %}
        <tr class="">
            <th scope="row">{{ faixa.number }}</th>
            <th>{{faixa}}</th>
            <th class="text-center">
            {% if faixa.audio %}
            <button id="{{ faixa.number }}" class="btn black fa fa-play"
                    type="button" onclick="togglePlay(this.id)">
                <audio id="faixa-{{ faixa.number }}" class="audio" src="{{ faixa.audio.url }}"
                       onended="StopAudio(this.parentElement.id)"></audio>
            </button>
            {% else %}
            <button id="NoSong" class="btn-primary">
            </button>
            {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
</div>