.gallery img { padding-bottom: 25px; }
.gallery button:active { color: #333 !important; border-bottom: 0.1px solid #d7d7d7; }
.gallery button { color:#d9d9d9; background-color:transparent;
  text-transform:uppercase; font-size:12px; border-radius:0; }
.btn-active { color: #333 !important; border-bottom: 0.1px solid #d7d7d7; }
.color-item { height: 35px; margin-bottom: 10px; margin-top: 10px;
  border: solid; border-width: 4px; border-radius: 5px; }

@media (max-width: 760px) {
  #gallery .gallery-item > div {
    filter: none;
  }
}
#gallery .gallery-item > div:hover {
  -webkit-box-shadow: 5px 5px 5px -10px rgba(100, 93, 215, 0.85);
  -moz-box-shadow: 5px 5px 5px -10px rgba(100, 93, 215, 0.85);
  box-shadow: 5px 5px 5px -10px rgba(100, 93, 215, 0.85);
  transition-delay: 0.1s;
  transition-duration: 1s;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 1;
  filter: none;
}

.blur-item{
  filter: blur(5px);
}
.grayscale-item {
  filter: grayscale(1);
}
.generic-style{
  background-color: #0069FF;
  filter: blur(5px);
  filter: grayscale(1);
}
.generic-style > img{
  filter: blur(5px);
  filter: grayscale(1);
}

.portfolio-item > div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.caption {
  color: #FFFFFF;
  text-align: center;
  margin-top: -50px;
}