/*
Ekletik Studios
Author: Leo Neto
Update: Oct 21, 2017
w: https://ekletik.com
e: info@ekletik.com
*/


code,
pre {
  word-break : break-all;
  word-wrap  : break-word;
}

.gray-border-bottom,
.light-w-border,
.white-w-border {
  border-bottom : 1px solid #eee;
}

#wrapper,
.layer {
  overflow : hidden;
}

.date,
p span {
  text-transform : uppercase;
}

p span {
  color : #d7d7d7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight : lighter;
}

pre {
  display          : block;
  margin           : 0 0 10px;
  padding          : 9.5px;
  border           : 1px solid #eee;
  border-radius    : 4px;
  background-color : #F8F9FA!important;
  font-size        : 13px;
}

code {
  padding       : 2px 4px;
  border-radius : 4px;
  font-size     : 90%;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  padding-top : 25px;
}

.markdown p {
  padding-top : 10px;
}

.markdown p:first-of-type {
  padding-top : 0;
}

.heading h1 {
  font-size   : 60px;
  font-weight : 300;
}

.heading h2 {
  font-size   : 40px;
  font-weight : 300;
}

.heading h3 {
  font-size   : 25px;
  font-weight : 300;
}

.heading p {
  margin-top : 10px;
  color      : #333;
  font-size  : 16px;
}

.pink,
.pink a,
.pink h1,
.pink h2,
.pink h3,
.pink h4,
.pink h5,
.pink p {
  color : #FFF!important;
}

.heading p>span {
  font-size   : 12px;
  font-weight : lighter;
}

.heading h4>span {
  font-size   : 14px;
  font-weight : 300;
}

.sub-heading h1 {
  font-size   : 60px;
  font-weight : lighter;
}

.sub-heading h2 {
  font-size   : 40px;
  font-weight : lighter;
}

.sub-heading h3 {
  font-size   : 25px;
  font-weight : lighter;
}

.sub-heading p {
  margin-top : 10px;
  font-size  : 16px;
}

.sub-heading p>span {
  font-size   : 12px;
  font-weight : lighter;
}

@media (max-width:780px) {
  .heading h1 {
    font-size   : 40px;
    font-weight : 300;
  }

  .heading h2 {
    font-size   : 25px;
    font-weight : 300;
  }

  .heading h3 {
    font-size   : 15px;
    font-weight : 300;
  }

  .sub-heading h1 {
    font-size   : 40px;
    font-weight : 300;
  }

  .sub-heading h2 {
    font-size   : 25px;
    font-weight : 300;
  }

  .sub-heading h3 {
    font-size   : 15px;
    font-weight : 300;
  }
}

.center {
  text-align : center;
}

.text-bold {
  font-weight : 700!important;
}

.text-light {
  font-weight : lighter!important;
}

.azinca-flags::after,
.code-symbols::before,
.emojis>p {
  display     : inline-block;
  font-family : monospace;
  font-weight : 400;
}

.underlined {
  text-decoration : underline!important;
}

.music-symbols::after {
  content : " 𝄞";
}

.smiley-symbol::after {
  content : " 😎.";
}

.chevron-link::after {
  content     : "›";
  display     : inline-block;
  margin-left : .25em;
}

.code-symbols::before {
  content : "⌘⇧ ";
}

.azinca-flags::after {
  content : " 🇦🇴🇧🇷🇵🇹";
}

.emojis>p {
  font-size : 30px!important;
}

.m-minus-60 {
  margin-top : -150px;
}

.m-top-bottom {
  margin-top    : -50px;
  margin-bottom : 40px;
}

.p-img-around img {
  padding-bottom : 25px;
}

.p-top-bottom {
  padding-top    : 70px;
  padding-bottom : 60px;
}

.p-top-10 {
  padding-top : 10px;
}

.p-top-20 {
  padding-top : 20px;
}

.p-top-30 {
  padding-top : 30px;
}

.p-top-40 {
  padding-top : 40px;
}

.p-top-50 {
  padding-top : 50px;
}

.p-top-60 {
  padding-top : 60px;
}

.p-top-100 {
  padding-top : 100px;
}

.p-top-200 {
  padding-top : 200px;
}

.p-top-300 {
  padding-top : 300px;
}

.p-bottom-10 {
  padding-bottom : 10px;
}

.p-bottom-20 {
  padding-bottom : 20px;
}

.p-bottom-40 {
  padding-bottom : 40px;
}

.p-bottom-60 {
  padding-bottom : 60px;
}

.p-bottom-100 {
  padding-bottom : 100px;
}

.p-bottom-200 {
  padding-bottom : 200px;
}

.p-bottom-300 {
  padding-bottom : 300px;
}

.p-lr-10 {
  padding-right : 10px;
  padding-left  : 10px;
}

.p-tb-10 {
  padding-top    : 10px;
  padding-bottom : 10px;
}

.p-tb-20 {
  padding-top    : 20px;
  padding-bottom : 20px;
}

.p-tb-40 {
  padding-top    : 40px;
  padding-bottom : 40px;
}

.p-tb-60 {
  padding-top    : 60px;
  padding-bottom : 60px;
}

.transparent {
  opacity : .9!important;
}

.transparent-10 {
  opacity : .1!important;
}

.transparent-20 {
  opacity : .2!important;
}

.transparent-40 {
  opacity : .4!important;
}

.transparent-60 {
  opacity : .6!important;
}

.transparent-90 {
  opacity : .9!important;
}

.transparent-98 {
  opacity : .95!important;
}

.pink {
  background : #DE356E!important;
}

.red {
  color      : #FFF;
  background : #ED0418!important;
}

.red a,
.red h1,
.red h2,
.red h3,
.red p {
  color : #FFF!important;
}

.blue {
  color      : #FFF;
  background : #0069FF!important;
}

.blue a,
.blue h1,
.blue h2,
.blue h3,
.blue p {
  color : #FFF!important;
}

.lighblue {
  color      : #000;
  background : #AEC5EB!important;
}

.lighblue a,
.lighblue h1,
.lighblue h2,
.lighblue h3,
.lighblue p,
.lighblue span {
  color : #000!important;
}

.darkblue {
  color      : #FFF;
  background : #114B5F!important;
}

.darkblue a,
.darkblue h1,
.darkblue h2,
.darkblue h3,
.darkblue p {
  color : #FFF!important;
}

.yellow {
  color      : #000;
  background : #FEE850!important;
}

.yellow a,
.yellow h1,
.yellow h2,
.yellow h3,
.yellow p,
.yellow span {
  color : #000!important;
}

.pale {
  color      : #333;
  background : #F8F9FA!important;
}

.pale a,
.pale h1,
.pale h2,
.pale h3,
.pale p {
  color : #333!important;
}

.black {
  color      : #FFF;
  background : #000!important;
}

.black a,
.black h1,
.black h2,
.black h3,
.black p {
  color : #FFF!important;
}

.crimson {
  color      : #F8F9FA;
  background : #EA1744!important;
}

.crimson a,
.crimson h1,
.crimson h2,
.crimson h3,
.crimson p {
  color : #F8F9FA!important;
}

.orange {
  color      : #F8F9FA;
  background : #E28413!important;
}

.orange a,
.orange h1,
.orange h2,
.orange h3,
.orange p {
  color : #F8F9FA!important;
}

.white {
  background : #FFF!important;
}

.white a,
.white h1,
.white h2,
.white h3,
.white p {
  color : #333!important;
}

.white-blue {
  background : #FFFFFB!important;
}

.white-blue a,
.white-blue h1,
.white-blue h2,
.white-blue h3,
.white-blue p {
  color : #0069FF!important;
}

.wine {
  color      : #F8F9FA;
  background : #6B2737!important;
}

.wine a,
.wine h1,
.wine h2,
.wine h3,
.wine p {
  color : #F8F9FA!important;
}

.gray {
  color      : #333;
  background : #F8F9FA!important;
}

.gray-border-top {
  border-top : 1px solid #eee;
}

.text-crimson {
  color : #EA1744!important;
}

.text-blue {
  color : #0069FF!important;
}

.light-w-border {
  background : #F8F9FA;
}

.white-w-border {
  opacity    : .98;
  background : #FFF;
}

.blue-ocean {
  background : #0069FF;
}

.light-grey {
  background : #F8F9FA;
}

#wrapper {
  position   : relative;
  top        : 55px;
  width      : 100%;
  min-height : 55vw;
}

.layer,
.layer .content-wrap {
  position   : absolute;
  width      : 100vw;
  min-height : 55vw;
}

.layer .content-body {
  position  : absolute;
  top       : 50%;
  width     : 25%;
  transform : translateY(-50%);
}

.layer img {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 35%;
  transform : translate(-50%,-50%);
}

.bottom {
  z-index    : 1;
  color      : #FFF;
  background : #222;
}

.bottom .content-body {
  right : 12%;
}

.top {
  z-index    : 2;
  width      : 50vw;
  color      : #0069FF;
  background : #EEE;
}

#wrapper,
.parallax-ek-1 {
  background-image : url(/static/img/ekcity.svg);
}

.top .content-body {
  left : 12%;
}

.handle {
  z-index  : 3;
  display  : block;
  position : absolute;
  top      : 0;
  left     : 50%;
  width    : 5px;
  height   : 100%;
}

.skewed .handle {
  top              : 50%;
  height           : 200%;
  transform        : rotate(35deg) translateY(-50%);
  transform-origin : top;
}

.skewed .top {
  width       : calc(50vw + 1000px);
  margin-left : -1000px;
  transform   : skew(-35deg);
}

.mini-parallax,
.parallax {
  position              : relative;
  width                 : 100vw;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
  background-size       : cover;
}

.skewed .top .content-wrap {
  margin-left : 1000px;
  transform   : skew(35deg);
}

#wrapper {
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
}

.headerAlt {
  display : none;
}

.content-wrap .headerAlt {
  font-weight : 300;
}

@media (max-width:980px) {
  #wrapper .content-body {
    font-size : 60%;
  }
}

@media (max-width:760px) {
  #wrapper .content-body h2,
  #wrapper .content-body p {
    display : none;
  }

  #wrapper .headerAlt {
    display   : block;
    font-size : 30px;
  }
}

.parallax {
  height : 500px;
}

.mini-parallax {
  height : 250px;
}

.parallax-ek-1 {
  background-color : #FFFFFB;
}

.parallax-ek-2 {
  background-image : url(/static/img/icon.png);
}

.parallax-team {
  background-image : url(http://bit.ly/2xA8t2f);
}

.parallax-office-1 {
  background-image : url(http://bit.ly/2wvKXGM);
}

.parallax-office-2 {
  background-image : url(http://bit.ly/2xk2QG9);
}

.parallax-office-3 {
  background-image    : url(http://bit.ly/2xzMhoV);
  background-position : bottom;
}

.navbar-brand {
  color       : #F0D71C!important;
  font-weight : 700;
}

.navbar-brand span {
  color : #0069ff;
}

.nav-item a,
.navbar-toggler span {
  color : #0069FF!important;
}

.navbar-brand img {
  width  : 25px;
  height : 25px;
}

.active {
  font-weight : 700!important;
}

.navbar-toggler {
  border : none;
}

.navbar .form-control {
  max-height  : 32px;
  font-size   : 14px;
  font-weight : lighter;
}

.navbar .form-inline button {
  display    : none;
  visibility : hidden;
  max-height : 40px;
  border     : none;
  background : 0 0;
}

.nav-white-black,
.nav-white-blue {
  background : #FFF;
}

.navbar input {
  border-radius : 20px;
}

.navbar input:focus {
  color        : #0069FF;
  border-color : #0069FF;
}

.navbar button {
  position : absolute;
}

.navbar button>i {
  color : #d7d7d7!important;
}

@media (max-width:990px) {
  .white-w-border {
    opacity : 1;
  }

  .nav {
    height : 60px;
  }

  .navbar button {
    position : relative;
    margin   : 0;
  }
}

.nav-white-blue {
  color : #0069FF;
}

.nav-white-blue a {
  color : #0069FF!important;
}

.nav-white-black,
.nav-white-black a {
  color : #222!important;
}

.nav-red-white {
  color      : #F8F9FA;
  background : #EA1744;
}

.nav-red-white a {
  color : #F8F9FA!important;
}

.nav-black-white {
  color      : #FFF;
  background : #000;
}

.nav-black-white a {
  color : #FFF!important;
}

.nav-border {
  opacity       : .98;
  border-bottom : 1px solid #eee;
}

.carousel-item {
  max-height : 600px;
  background : #333;
}

.img-profile-bg,
.portfolio-item>div {
  background-repeat   : no-repeat;
  background-position : center;
}
.portfolio-cover{
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-attachment: fixed;
}
@media (max-width: 600px) {
  .portfolio-cover{
    top: -400rem;
    padding-top: -400rem;
    /*height: 40px;*/
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover;
  }
}


.carousel-item img {
  opacity             : .5;
  background-position : center;
  background-size     : cover;
}

.carousel-control-next,
.carousel-control-prev {
  display : none;
}

.carousel-caption h1 {
  font-size : 60px;
}

.main-carousel {
  margin-top : -4px;
}

@media (max-width:990px) {
  .carousel-caption h1 {
    font-size : 40px;
  }
}

@media (max-width:760px) {
  .carousel-item {
    width  : auto;
    height : 400px;
  }

  .carousel-item img {
    height : 400px;
  }

  #gallery .gallery-item>div {
    filter : none;
  }
}

.date {
  font-size   : 12px;
  font-weight : 100;
}

.blog-section h1 {
  font-size   : 60px;
  font-weight : 300;
}

.blog-section h2 {
  font-size   : 40px;
  font-weight : 300;
}

.blog-section h3 {
  font-size   : 25px;
  font-weight : 300;
}

.blog-section h4 {
  font-size   : 20px;
  font-weight : 300;
}

.blog-section p>span {
  font-size   : 12px;
  font-weight : lighter;
}

.blog-section div {
  padding-bottom : 25px;
}

.blog-author img {
  width         : 50px;
  height        : 50px;
  border-radius : 500px;
}

.felipe,
.leo,
.paulo {
  height          : 350px;
  background-size : cover;
}

.blog-author-name {
  margin-top  : -35px;
  margin-left : 65px;
}

.blog-author-date {
  margin-top  : -29px;
  margin-left : 270px;
}

.blog-author span {
  color : #0069ff;
}

.blog-author-bio {
  padding : 10px;
}

.blog-section pre {
  margin : 0;
}

.circle-service-image,
.img-profile {
  max-width     : 210px;
  max-height    : 210px;
  border-radius : 100px;
}

.img-profile-bg {
  position        : relative;
  background-size : cover;
}

@media (max-width:780px) {
  .blog-section h1 {
    font-size : 40px;
  }

  .blog-section h2 {
    font-size : 25px;
  }

  .blog-section h3 {
    font-size : 15px;
  }
}

.felipe {
  background-image : url(https://ekletik.com/media/perfis/felipe.jpg);
}

.leo {
  background-image : url(https://ekletik.com/media/perfis/leo.jpg);
}

.paulo {
  background-image : url(https://ekletik.com/media/perfis/paulo.jpg);
}

footer {
  height : 150px;
}

footer p {
  font-size : 12px;
}

footer span {
  text-transform : capitalize;
}

.footer-copy,
.footer-user {
  padding-top : 60px;
  color       : #000;
  font-size   : 16px;
  font-weight : 400;
}

.footer-copy::before {
  content : "Ⓒ & Ⓟ ";
}

.footer-menu a::after {
  content : " | ";
}

.footer-menu a:last-of-type::after {
  content : "";
}

.footer-social {
  margin-top : -55px;
  text-align : right;
  font-size  : 30px;
}

.footer-social a {
  margin-left : 5px;
  color       : #000;
}

.footer-developer {
  margin-top  : -37px;
  text-align  : right;
  font-weight : 700;
}

.footer-developer::before {
  content : "⌘⇧ ";
}

@media (max-width:780px) {
  .footer-social a {
    margin-left : 0;
    font-size   : 30px;
  }

  .footer-social a:last-of-type {
    display : none;
  }
}

.form-row div {
  padding-top    : 10px;
  padding-bottom : 20px;
}

#equipa span {
  font-size   : 16px;
  font-weight : 600;
}

#equipa h4 {
  padding-top : 20px;
}

.clock {
  font-size : 12em!important;
}

.clockGreeting {
  font-size : 5em!important;
}

.gallery img {
  padding-bottom : 25px;
}

.gallery button:active {
  color         : #333!important;
  border-bottom : .1px solid #d7d7d7;
}

.gallery button {
  color            : #d9d9d9;
  border-radius    : 0;
  background-color : transparent;
  text-transform   : uppercase;
  font-size        : 12px;
}

.btn-active {
  color         : #333!important;
  border-bottom : .1px solid #d7d7d7;
}

.color-item {
  height        : 35px;
  margin-top    : 10px;
  margin-bottom : 10px;
  border        : solid;
  border-width  : 4px;
  border-radius : 5px;
}

#gallery .gallery-item>div:hover {
  opacity             : 1;
  filter              : none;
  -moz-box-shadow     : 5px 5px 5px -10px rgba(100,93,215,.85);
  -webkit-box-shadow  : 5px 5px 5px -10px rgba(100,93,215,.85);
  box-shadow          : 5px 5px 5px -10px rgba(100,93,215,.85);
  -moz-transform      : scale(1.02);
  -o-transform        : scale(1.02);
  -webkit-transform   : scale(1.02);
  transform           : scale(1.02);
  transition-duration : 1s;
  transition-delay    : .1s;
}

.blur-item,
.generic-style {
  filter : blur(5px);
}

.grayscale-item {
  filter : grayscale(1);
}

.generic-style {
  background-color : #0069FF;
  filter           : grayscale(1);
}

.generic-style>img {
  filter : blur(5px);
  filter : grayscale(1);
}

.portfolio-item>div {
  background-size : cover;
}

.caption {
  margin-top : -50px;
  color      : #FFF;
  text-align : center;
}

#clock {
  font-size : 5em;
}

.audio-item{

}





#video-header{
    margin: 0;
    color: #FFFFFF;
    overflow-x: hidden;
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.v-container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.fullscreen-video-wrap{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /*background: #114B5F;*/
    z-index: 1;
    opacity: 0.65;
}
.header-content{
    padding-top: 20px;
    z-index: 2;
}
.header-content h1{
    margin-bottom: 0;
}
.header-content h3{
    display: block;
    padding-bottom: 1rem;
}
.header-content a{
    text-decoration: none;
}
@media (min-width: 760px) {
    .promo-sub {
        width: 35vw;
    }
}
.promo-lead{
    text-transform: lowercase;
}
.no-border-radius{
    border-radius: 0 !important;
}